# Scripting
# ------------------------------------------------------------------------------
jinja2==3.1.4  # https://github.com/pallets/jinja/

# Code quality
# ------------------------------------------------------------------------------
ruff==0.6.9  # https://github.com/astral-sh/ruff
pre-commit==3.8.0  # https://github.com/pre-commit/pre-commit
mypy==1.11.2  # https://github.com/python/mypy
